@import '~shared-styles/consts.styl'

$card-height = 14px
$card-bg-color = #FBFBFB
$card-border-color = #AAF9AA
$card-selected-bg-color = #FFFFFF
$card-disabledOpacity = 0.3
$card-draggedOpacity = 0.3
$card-previewOpacity = 0.15
$card-preview-border-col = #716E6E

// ------------------------------------------------------------------------------
// Card container

.wrapper
  padding $global-v-board-padding $global-h-board-padding 0 $global-h-board-padding
.container
  position relative
  min-height $card-height
  color $global-c-grey-text
  border solid 1px $card-border-color
  line-height $card-height
  background-color $card-bg-color
  cursor pointer
  &:active
    cursor grabbing
  &:hover
    box-shadow 0 0 1px 0 rgba(155,155,155,0.5)
  // set darker icon color on hover
  &:hover .icon
    color $global-c-grey-text

// .isDragged
//   opacity $card-draggedOpacity
  
// .isPreview
//   border solid 1px $card-preview-border-col
//   opacity $card-previewOpacity


// ------------------------------------------------------------------------------
// Card content

.text
  display inline-block
  overflow hidden
  text-overflow ellipsis
  padding-left 4px
  max-width 130px
  font-size 12px


// Card action buttons

.controlsBlock
  position absolute
  top 0
  right 0
  bottom 0

  // :hover
  //   width 40px
  //   background-color red
// .disabledIcon
//   padding 5px
//   color $global-c-icon-inactive
//   cursor default

.icon
  padding 0 5px 0 0
  cursor pointer
  font-size 12px
  color $global-c-icon-inactive
  // &:hover
  //   text-shadow 0 0 10px #5BE414
  &:active
    color $global-c-icon-active !important


