@import '~shared-styles/consts.styl'

$card-height = 14px
$card-bg-color = #FBFBFB
$card-border-color = #D7F1D7
$card-v-padding = 7px
$card-text-w = 206px
$card-text-fontsize = 12px


// ------------------------------------------------------------------------------
// Card container

.wrapper
  padding $card-v-padding $global-h-board-padding $card-v-padding $global-h-board-padding
.container
  min-height $card-height + 4
  color $global-c-grey-text
  border solid 1px $card-border-color
  line-height $card-height
  background-color $card-bg-color
  font-size $card-text-fontsize
  cursor grab
  &:active
    cursor grabbing
  &:hover
    box-shadow 0 0 1px 0 rgba(155,155,155,0.5)
  // set darker icon color on hover
  &:hover .icon
    color $global-c-grey-text


// ------------------------------------------------------------------------------
// Card content

.text
  display inline-block
  white-space normal
  width 206px
  padding-left 4px

.input
  color $global-c-blue-text
  background transparent
  border none
  &:focus, &:active
    border none
    outline none

// Card action buttons
.controlsBlock
  float right

.icon
  padding 0 5px 0 0
  color $global-c-icon-inactive
  cursor pointer
  // &:hover
  //   text-shadow 0 0 10px #5BE414
  &:active
    color $global-c-icon-active !important


