@import '~shared-styles/consts.styl'

// Vars / config

$wrapper-spacer = 35px

// Styles

.wrapper
  display inline-block
  padding-right $wrapper-spacer

.container
  width 275px

.cardsBlock
  border-radius 4px
  border 1px solid $global-c-grey-border
  box-shadow 0px 0px 1px 0px $global-c-light-grey-bg
  height $global-h-cardsBlock
  position relative

.header
  padding 7px 0 0 4px
  margin 15px 0 10px 0
  font-size 22px
  line-height 22px
  min-height 29px
  color #333344

