
.container
  background-color #FFFFFF
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  overflow auto

.wrapper
  display block

.header
  height 40px
  font-size 19px
  color #333333

.boardsContainer
  white-space nowrap
  padding 15px
  display flex