@import '~shared-styles/consts.styl'

.container
  position absolute
  left 0
  top $global-filtered-input-height
  // padding-top 17px
  bottom $global-h-view-toggle
  width 100%
  overflow-y auto
  display flex
  flex-direction column

