.backdrop
  position fixed
  top 0
  right 0
  left 0
  bottom 0
  background-color #000 = 0.3
  z-index 99998

.container
  z-index 99999
  position relative
  background-color #fff
  
.closeButton
  position absolute
  right 0
  padding 0.25em 0.5em
  height 10px
  font-stize 11px

.isFixed
  position fixed
  right 0
  left 0
  top 10vh
  margin auto
  
  height 30vh
  width 40vw
  
  background-color #FFF
  color #000
  box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.5)