// ------------------------------------------------------
// Global vars
// ------------------------------------------------------

// this file should contain vars only, to avoid pollution

// ------------------------------------------------------
/* EXAMPLE USAGE:

   - Define var in this file
  // Used in: File.styl
  // $global-red = red  

  - In the file 'File.styl' that uses the global var:
  // @import '~shared-styles/consts.styl'
  // .myClass
  //   color $global-red
*/


// ------------------------------------------------------
// Layout dimensions

$global-h-board-padding = 17px
$global-v-board-padding = 14px
$global-filtered-input-height = 42px
$global-h-cardsBlock = 310px
$global-h-moveToButton = 22px
$global-moveToButtonTop = $global-h-cardsBlock / 2 + $global-h-moveToButton / 2
$global-h-view-toggle = 31px


// ------------------------------------------------------
// Colors

$global-c-light-grey-bg = #FAFAF9
$global-c-grey-border = #F5F4F5
$global-c-grey-text = #9B9B99
$global-c-light-grey-text = #D2D1D1
$global-c-blue-text = #5CA3E5
$global-c-strong-grey = #C1C2C1
$global-c-icon-active = #808580
$global-c-icon-inactive = #D6D2D6

//
// Animations

// pulse
// $global-pulse-keyframe = pulse
// @keyframes {$global-pulse-keyframe}
//   for i in 0..10
//     {10% * i}
//       opacity (i/10)
      
